.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  position: relative;
  background-image: url(/img/fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-top {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.container-bottom {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  z-index: 99;
}

.logo-juego {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 17rem;
  height: auto;
}

.logo-bol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: auto;
}

.logo-mc {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 12rem;
  height: auto;
}

.caja-pistas {
  width: 28rem;
  height: 16rem;
  background-color: var(--yellow);
  position: absolute;
  top: 9%;
  right: 2%;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  z-index: 98;
}

.modal-next {
  position: absolute;
  width: 30rem;
  height: 18rem;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 99;
  box-shadow: -2px 4px 1px var(--transparent);
}

.next {
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  border: none;
  background-color: var(--yellow);
  border-radius: 5rem;
  box-shadow: -2px 4px 1px var(--transparent);
  transition: all 0.3s ease-in;
  transform: scale(1);
  text-transform: uppercase;
  font-weight: bolder;
}

.next:hover {
  transform: scale(1.02);
  background-color: var(--blue);
}

.next:active {
  transform: scale(0.98);
  background-color: var(--yellow);
}

.imgFin {
  width: 5rem;
  height: auto;
}

.tablero {
  width: 100rem;
  height: 50rem;
  background-color: var(--gray);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  transition: all 1s ease-out;
  z-index: 1;
  position: absolute;
  border-radius: 1rem;
}

.tablero-pistas {
  width: 100rem;
  height: 50rem;
  transition: all 1s ease-out;
  z-index: 1;
  position: absolute;
  border-radius: 1rem;
}

.acierto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  width: 5rem;
  height: 5rem;
  z-index: 99;
  font-size: 0.5rem;
}

.front {
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  align-self: center;
  justify-self: center;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background: var(--yellow);
  color: var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.back::selection {
  background: transparent;
}

.descubierto {
  transform: rotateY(-180deg);
}

/* tableros */
#administracion {
  background-image: url(/img/administracion.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#almacen {
  background-image: url(/img/almacen.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#mantenimiento {
  background-image: url(/img/Mantenimiento.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#operaciones {
  background-image: url(/img/operaciones.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#operacion-via {
  background-image: url(/img/operacionVia.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

/* MediaQueryes */

@media screen and (min-width: 1281px) {
  .tablero {
    width: 120rem;
    height: 60rem;
  }

  .caja-pistas {
    top: 7%;
    right: 5%;
  }

  .logo-mc {
    bottom: 7%;
    left: 3%;
  }

  .acierto {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width: 960px) {
  .tablero {
    width: 70rem;
    height: 35rem;
  }

  .caja-pistas {
    width: 20rem;
    height: 12rem;
    top: 4%;
    right: 1%;
  }

  .acierto {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }

  .logo-juego {
    width: 11rem;
    top: 30%;
  }

  .logo-mc {
    width: 10rem;
    left: 3%;
    bottom: 20%;
  }
}
