.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  position: relative;
  background-image: url(/img/fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.caja-pistas {
  width: 30rem;
  height: 18rem;
  background-color: var(--blue);
  position: absolute;
  top: 14%;
  right: 17%;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  z-index: 98;
}

.modal-next {
  position: absolute;
  width: 30rem;
  height: 18rem;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 99;
  box-shadow: -2px 4px 1px var(--transparent);
}

.next {
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  border: none;
  background-color: var(--yellow);
  border-radius: 5rem;
  box-shadow: -2px 4px 1px var(--transparent);
  transition: all 0.3s ease-in;
  transform: scale(1);
  text-transform: uppercase;
  font-weight: bolder;
}

.next:hover {
  transform: scale(1.02);
  background-color: var(--blue);
}

.next:active {
  transform: scale(0.98);
  background-color: var(--yellow);
}

.imgFin {
  width: 5rem;
  height: auto;
}

.tablero {
  width: 100rem;
  height: 50rem;
  background-color: var(--gray);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  transition: all 1s ease-out;
  z-index: 1;
  position: absolute;
  border-radius: 1rem;
}

.acierto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  width: 5rem;
  height: 5rem;
  z-index: 99;
}

.front {
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  align-self: center;
  justify-self: center;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background: var(--yellow);
  color: var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.back::selection {
  background: transparent;
}

.descubierto {
  transform: rotateY(-180deg);
}

/* tableros */
#administracion {
  background-image: url(/img/administracion.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#almacen {
  background-image: url(/img/almacen.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#mantenimiento {
  background-image: url(/img/Mantenimiento.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#operaciones {
  background-image: url(/img/operaciones.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

#operacion-via {
  background-image: url(/img/operacionVia.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  transform: translateX(200rem);
}

/* MediaQueryes */

@media screen and (min-width: 1510px) {
  .tablero {
    width: 130rem;
    height: 65rem;
  }

  .caja-pistas {
    top: 10%;
    right: 8%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .caja-pistas {
    top: 13%;
    right: 2%;
  }
}

@media screen and (max-width: 990px) {
  .tablero {
    width: 90rem;
    height: 45rem;
  }

  .caja-pistas {
    width: 22rem;
    height: 13.2rem;
    top: 8%;
    right: 0.5%;
  }

  .acierto {
    width: 4.6rem;
    height: 4.6rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }
}
